{{if $description}}
	<div class="event-item-description">
	{{$description}}
	</div>
{{/if}}
{{if $location}}
	<div class="event-item-location">
		<span class="event-item-label">{{$location_label}}</span>&nbsp;<span class="event-item-location">{{$location}}</span>
	</div>
{{/if}}
